{% extends 'base.html' %}

{% block title %}Lista de Processos{% endblock %}

{% block content %}
  <h2 style="text-align: center;">Lista de Processos</h2>

  <div style="text-align: center; margin-bottom: 1.5rem;">
    <a href="{% url 'cadastrar_processo' %}" class="btn-cadastrar">+ Cadastrar Novo Processo</a>
  </div>

  {% if processos %}
    <table class="processos-table">
      <thead>
        <tr>
          <th>ID</th>
          {% comment %} <th>Nome do Processo</th> {% endcomment %}
          <th>Data de Abertura</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for processo in processos %}
          <tr>
            <td>{{ processo.id }}</td>
            {% comment %} <td>{{ processo.nome_processo }}</td> {% endcomment %}
            <td>{{ processo.data_abertura|date:"d/m/Y" }}</td>
            <td>
              <a href="{% url 'detalhar_processo' processo.id %}">Detalhar</a>
              <a href="{% url 'cadastrar_processo' processo.id %}">Cadastrar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p style="text-align: center;">Nenhum processo encontrado.</p>
  {% endif %}
{% endblock %}
