{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
  <h2 style="text-align: center;">Clientes</h2>

  <div style="text-align: center; margin-bottom: 1.5rem;">
    <a href="{% url 'cadastrar_cliente' %}" class="btn-cadastrar">+ Cadastrar Novo Cliente</a>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefone }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
